<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGnPTzubn9Cn4BDaYhddx2hO7Ro8J-3tw</string>
	<key>GCM_SENDER_ID</key>
	<string>319102199303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igordaurenev.glowbounce.app</string>
	<key>PROJECT_ID</key>
	<string>glow-bounce</string>
	<key>STORAGE_BUCKET</key>
	<string>glow-bounce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319102199303:ios:be4bd35590ea4fd1bceca2</string>
</dict>
</plist>